<div  ng-controller="MainCtrl" ng-keypress="checkIfEnterKeyWasPressed($event)" >
     
      		<nit-advanced-searchbox
    			ng-model="searchParams"
    			parameters="availableSearchParams"
    			placeholder="ابحث٠٠٠"
    			parametersLabel = "تحديد البحث في احد المجالات"
     		>	 
      		</nit-advanced-searchbox>  
        
			<span>تخصيص مجال البحث</span>
    		<md-radio-group ng-model="domain"  class="md-primary"  layout="row"ng-change='domainchange(domain)' >
			<md-radio-button	cl 
							ng-repeat="d in radioData" 
							 ng-style="{'display':'inline-block}" 
							 ng-value="d.value" 
							 ng-disabled="d.isDisabled" 
							
							 >
					<span>
           	 		{{ d.label }}
           	 		</span>
      	    </md-radio-button>
    		</md-radio-group>
			
			<!--  __{{ domain }}			
			{{searchParams}}
     	   	{{keyflag}}
     	   	<p>result:  </p>
     	   	{{rest}}
     	   	<p>error:  </p>
			{{error}}
			
			{{item}}-->
</div>	
